<main class="contenedor contenedor-formularios">
    <h1><%- page %></h1>

    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Your Email">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Your Password">
        </div>
        <div class="campo">
            <input type="submit" value="Login" class="btn btn-rosa">
        </div>
    </form>
</main>