<h1 style="
text-align: center; 
font-family: Arial, Helvetica, sans-serif;
">Confirm your account</h1>

<p style="
font-family: Arial, Helvetica, sans-serif;
">Hi, you only have to take one more step to create a meeti's community, you only have to confirm your account in the next link:</p>

<a style="
font-family: Arial, Helvetica, sans-serif;
display: block;
padding: 1rem;
background-color: #00c897;
color: white;
text-transform: uppercase;
text-align: center;
text-decoration: none ;
" href="<%= url %>">Confirm your account</a>

<p style="
font-family: Arial, Helvetica, sans-serif;
">If you can not open this link, visit: <%= url %></p>
<p style="
font-family: Arial, Helvetica, sans-serif;
">If you didn't ask for this email, you can ignore it</p>